@charset "utf-8";
/* CSS Document */

table{
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

h1{
	color: purple;
}

td{
	background-color: #AAB1FF;
	vertical-align: top;
}

.main-menu{
	background-color: aquamarine;
	width: 20%;
}







